/* css reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* list-style: none; */
  text-decoration: none;
}
/* css reset */

/* root variable */
:root {
  --color-primary: #ff5722;
  --color-secodary-light: #fff6f2;
  --color-secodary-dark: #ffa589;
  --color-navbar: #f8f8f8;
  --color-heading: #000;
  --color-white: #fff;
  --color-body: #333;
}
/* root variable */

/* asinging color */

body {
  color: var(--color-body);
  font-size: 1.4rem;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  font-weight: 700;
}

/* asinging color */

/* typography */
html {
  font-size: 62.5%;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.2rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
}

/* typography */

/* buttons */

.btn {
  cursor: pointer;
  outline: 0;
  border: 0;
  padding: 2rem 2.5rem;
  border-radius: 8px;
  margin: 1rem 0;
  text-align: center;
  white-space: nowrap;
  font-size: 1.4rem;
}

.btn--primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.btn--secondary {
  background: var(--color-secodary-dark);
  color: var(--color-white);
}

.btn--block {
  width: 100%;
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.6rem;
  }
  .btn--block {
    font-size: 2rem;
  }
}
/* buttons */

/* badge */
.badge {
  border: 2px solid var(--color-primary);
  border-radius: 32px;
  color: var(--color-primary);
  background: var(--color-white);
  font-size: 1.2rem;
  padding: 0.5rem 1.3rem;
  margin: 1rem;
  display: inline-block;
  text-transform: uppercase;
}
.badge--primary {
  background: var(--color-primary);
  color: var(--color-white);
  font-size: 1.2rem;
}

@media screen and (min-width: 1024px) {
  .badge,
  .badge--primary {
    font-size: 1.4rem;
  }
}
/* badge */

/* list */

.list {
  list-style: none;
  font-size: 1.6rem;
}
.list--inline .list__item {
  display: inline-block;
  margin-left: 2rem;
}

/* .list--tick .list__item::before {
  content: " ";
  width: 35px;
  height: 35px;
  background: url(../assets/images/Tick-Square.svg) no-repeat;

  padding: 3rem;
} */
.list--tick .list__item {
  background: url(../assets/images/Tick-Square.svg) no-repeat right center;
  padding: 3rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }
}

/* list */
